.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    margin: 0;
    position: relative;

    &::before {
        content: url("/img/decor/2.png");
    position: absolute;
    top: 2.777rem;
    right: 0;
    transform: translateX(50%);
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
        
        &::before {
            display: none;
        }
    }
}