.benefit {
    text-align: center;
}

.benefit__title {
    font-size: 1.444rem;
    font-weight: bold;
}
.benefit__image-wrapper {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 6.944rem;
    height: 3.832rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    margin-top: 1.111rem;
    margin-left: 0.832rem;
}