.benefits-section {
  position: relative;
  background: url("/img/decor/узор_лист.png") left 0 top 55% no-repeat;

  @include phones {
   background: none;
  }
  
  @include tablets {
    padding-top: 277px;
    background: url("/img/decor/узор_лист.png") left 0 top 17% no-repeat;
  }

  &::before {
    content: url("/img/decor/малина.png");
    position: absolute;
    bottom: -6.277rem;

    @include tablets {
      bottom: -141px;
    }
    @include phones {
      display: none;
    }
  }
}