.benefits-section {
  position: relative;
  background: url("/img/decor/узор_лист.png") left 0 top 55% no-repeat;

  &::before {
    content: url("/img/decor/малина.png");
    position: absolute;
    bottom: -113px;
  }
}