@import "../layout/colors.scss";
@import "../layout/variables.scss";

.btn {
  font-size: 1.055rem;
  font-weight: bold;
  padding: 1rem 1.944rem;
  text-transform: uppercase;
  border-radius: 120px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  margin-right: -0.555rem;
  z-index: $z-fixed-menu;

  &--theme--white {
    background: #fff;
    color: $darkGreen;
    position: absolute;

    &:hover {
      color: #fff;
      background: $darkGreen;
    }
  }

   &--theme--green {
     background: $darkGreen;
     color: #fff;
     border: none;

    &:hover {
      color: $darkGreen;
      background: #fff;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #000000;
    text-transform: none;
    border: none;

   &:hover {
     color: $darkGreen;
   }
 }
}