@import "../layout/colors.scss";
@import "media.scss";

.contacts {
  font-style: normal;
  font-size: rem(20px);
  color: #010101;
  margin-left: 50px;
  margin-top: 20px;

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 10px;    
  }
}

.contacts__place {
  width: 280px;
  height: 20px;
  font-size: 21px;
  font-weight: 400;
  line-height: 23.82px;
  margin-bottom: 10px;
}

// .contacts__phone {
//   color: $darkGreen;
// }