.features {
  width: 25.944rem;
  display: flex;
  justify-content: space-between;
 
}
.features__item {
  display: flex;
  flex-grow: 1;
  margin-right: 0.222rem;
  &:last-child {
    margin-right: 0;
  }
}