.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    height: 165px;
    text-align: center;  
   }
}
.footer__container {
  margin: 0px;  
  max-width: none;
}
.footer-container__section {
  min-height: 140px;
  margin-top: 12px;
}
.footer__col {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
}