.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@include tablets {
  display: none;
}
 .phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 1.687rem;
  &:last-child {
    margin-right: 0;
  }
}
.menu__link {
  text-decoration: none;
}
.phone-number {
  font-size: 1.333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number__icon-elem {
  width: 0.666rem;
  height: 0.666rem;
  margin-right: 0.333rem;
}