@import "../layout/colors.scss";
@import "./media.scss";

.hero {
  background: url("/img/decor/узорs.png") right 0 no-repeat;
  background-color: $blue;
  height: 36.499rem;
  color: #ffffff;
  position: relative;

  @include tablets { 
    @media screen and (min-width: 480px) {
    background-position: right bottom 88%;
    height: 1000px;
    }
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }
  @include phones {
    height: 794px;
     background: url("/img//decor/узорs3.png") right 7%  no-repeat;
     background-color: $blue; 
  }
}
.hero__title-section {
  width: 46%;

  @include tablets {
   width: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   
   &::before {
     content: "";
     width: 633px;
     height: 408px;
     position: absolute;
     right: 27%;
     background: url("/img/decor/Картинки.png") center center /contain no-repeat;
     top: 16%;
   }
}
@include phones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  text-align: center;

  &::before {
  content: "";
  width: 98%;
  height: 44%;
  position: absolute;
  right: 23%;
  // background: url("/img/decor/Картинки.png") center center/contain no-repeat;
  top: 8%;
  }
}
}

.hero__icons-section {
 @include tablets {
   display: none;
 }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.333rem 0 2.499rem;
  position: relative;
  z-index: 1;

    @include tablets {
      background: none;
    }
  
    &::before, &::after {
      @include tablets {
        display: none;
      }
    }
  &::before {
    @media screen and (min-width: 769px) {
    position: absolute;
      bottom: 3.944rem;
      left: 27.166rem;
      // bottom: 12.944rem;
      // left: -16px;
      content: url("/img/decor/Батончики.png");
    }
    }
  &::after {
    @media screen and (min-width: 769px) {
    position: absolute;
    bottom: -2.721rem;
    left: -2.777rem;
    content: url("/img/decor/Ягоды_и_листья.png");
    width: 100%;
    z-index: -1;
    }
  }

  @include phones {
  
  }
}
.hero__main-title {
  font-size: 2.666rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0rem;
  text-transform: uppercase;

  @include tablets {
    margin-top: 348px;
    letter-spacing: 0.001em;
  }
  @include phones {
    margin-top: 328px;
    letter-spacing: -1.9px;
    line-height: 33px;
  }
}
.hero__title-desc {
  font-size: 1.166rem;
  margin-bottom: 11px;
  padding-right: 21%;

  @include tablets {
    margin-top: 23px;
    padding: 0 25%;
    letter-spacing: 0.001em;
  }

  @include phones {
  padding: 0 14%;
  margin-bottom: 14px;
  }
}