@charset "UTF-8";
.hero {
  background: url("/img/decor/узорs.png") right 0 no-repeat;
  background-color: #61c4d9;
  height: 36.499rem;
  min-width: 36.111rem;
  color: #ffffff;
  position: relative; }
  @media screen and (max-width: 768px) {
    .hero {
      background-position: right bottom 88%;
      height: 1000px; } }
  @media screen and (max-width: 768px) {
    .hero::before, .hero::after {
      display: none; } }

.hero__title-section {
  width: 46%; }
  @media screen and (max-width: 768px) {
    .hero__title-section {
      width: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      .hero__title-section::before {
        content: "";
        width: 633px;
        height: 408px;
        position: absolute;
        right: 27%;
        background: url("/img/decor/Картинки.png") center center/contain no-repeat;
        top: 16%; } }
  @media screen and (max-width: 480px) {
    .hero__title-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      width: 465px; }
      .hero__title-section::before {
        content: "";
        width: 516px;
        height: 330px;
        position: absolute;
        right: 30%;
        top: 8%; } }

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none; } }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding: 1.333rem 0 2.499rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .hero__container {
      background: none; } }
  @media screen and (max-width: 768px) {
    .hero__container::before, .hero__container::after {
      display: none; } }
  .hero__container::before {
    position: absolute;
    bottom: 3.944rem;
    left: 27.166rem;
    content: url("/img/decor/Батончики.png"); }
  .hero__container::after {
    position: absolute;
    bottom: -2.721rem;
    left: -2.777rem;
    content: url("/img/decor/Ягоды_и_листья.png");
    width: 100%; }
  @media screen and (max-width: 480px) {
    .hero__container {
      margin: 5px 5px; } }

.hero__main-title {
  font-size: 2.666rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0rem;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .hero__main-title {
      margin-top: 165px;
      letter-spacing: -1.9px; } }
  @media screen and (max-width: 768px) {
    .hero__main-title {
      margin-top: 348px;
      letter-spacing: 0.001em; } }

.hero__title-desc {
  font-size: 1.166rem;
  margin-bottom: 11px;
  padding-right: 21%; }
  @media screen and (max-width: 768px) {
    .hero__title-desc {
      margin-top: 23px;
      padding: 0 25%;
      letter-spacing: 0.001em; } }
  @media screen and (max-width: 480px) {
    .hero__title-desc {
      padding: 0 17%; } }
