.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 16px;

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &:before {
        background: url("/chocco/img/decor/Галочка.png") no-repeat;
        top: 5%;
        left: 55%;
      }
    }
  }
}
.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}
.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
  

  &::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #365a49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}