@import "media.scss";

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 0.888rem;

  @include phones {
    margin-bottom: rem(10px);
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &:before {
        background: url("/img/decor/Галочка.png") no-repeat;
        top: 5%;
        left: 55%;
      }
    }
  }
}
.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}
.radio__visible {
  width: 1.444rem;
  height: 1.444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 0.555rem;
  margin-bottom: 0.555rem;
  

  &::before {
    content: "";
    width: 0.721rem;
    height: 0.721rem;
    background: #365a49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}