@import "../layout/colors.scss";

.section {
    height: 100vp;
    min-height: 40.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color--green {
        color: $darkGreen;
    
        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
    color: #000000;
    
}
.section__reviews {
    background: url("/img/decor/Ягода.png") top 2rem right 13.6875rem  no-repeat;
    margin-bottom: 2.3125rem;

    &::before {
        position: absolute;
        content: url("/img/decor/Узор.png");
       top: 68%;
    } 
    &::after {
        position: absolute;
        content: url("/img/decor/Ягоды.png");
        top: 70%;
    }
}
.order-section {
    background: url("/img/decor/паттерн.png") center no-repeat;
    &::before {
        position: absolute;
        content: url("/img/decor/Ежевика_фото.png");
        right: 0;
       top: 70%;
    } 
    &::after {
        position: absolute;
        content: url("/img/decor/лист90.png");
        right: 0;
        top: 90%;
    }
    min-height: 39.375rem;
}
.section__title-form {
    font-size: 3.0625rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: $darkGreen;
}