@import "../layout/colors.scss";
@import "media.scss";

.section {
    height: 100vh;
    min-height: 36.111rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color--green {
        color: $darkGreen;
    
        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: 2.666rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
    color: #000000;
}
.section__reviews {
    background: url("/img/decor/Ягода.png") top 1.777rem right 12.166rem  no-repeat;
    margin-bottom: 2.055rem;

    @include tablets {
        background: none;
        background: url("/img/decor/Ягода.png") top 0px right -32px no-repeat;
        margin-bottom: 109px;
        margin-top: 95px;
    }
    @include phones {
        margin-bottom: 148px;
        margin-top: 200px;
    }
    &::before {
        position: absolute;
        content: url("/img/decor/Узор.png");
       top: 68%;
       display: none;

       @include tablets {
        top:70%;
      }

      @include phones {
        top:63%;
      }
    } 
    &::after {
        position: absolute;
        content: url("/img/decor/Ягоды.png");
        top: 70%;
        display: none;

       @include tablets {
        top:74%;
      }

      @include phones {
        top: 68%;
      }
    }
}
.order-section {
    background: url("/img/decor/паттерн.png") center center;
    
    @include tablets {
        height: 1000px;
        background: url("/img/decor/паттерн.png") center navajowhite;
   }
    @include phones {
        height: 700px;
   }

    &::before {
        position: absolute;
        content: url("/img/decor/Ежевика_фото.png");
        right: 0;
       top: 70%;
       display: none;
       
       @include tablets {
           content: none;
           content: url("/img/decor/Ежевика_фото2.png");
           top: 73%;
      }

      @include phones {
        display: none;
      }
    } 
    &::after {
        position: absolute;
        content: url("/img/decor/лист90.png");
        right: 0;
        top: 67%;
    
        @include phones {
            display: none;
        }
        @include tablets {
            display: none;
        }
    
    }
    min-height: 35rem;
}
.section__title-form {
    font-size: 2.722rem;
    font-weight: bold;
    margin-top: 1.777rem;
    margin-bottom: 2.222rem;
    text-align: center;
    color: $darkGreen;

    @include tablets {
        margin-top: 0.777rem;
        margin-bottom: 1.222rem;
   }
}