@import "media.scss";

.benefit {
    text-align: center;

    @include phones {
     display: flex;
     text-align: left;
    }
}

.benefit__title {
    font-size: 1.444rem;
    font-weight: bold;
    color: black;
}
.benefit__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding: 1.611rem;

    @include phones {
        margin-bottom: 0;
    }
}

.benefit__text {
    padding-top: 1.8rem;

    @include phones {
        margin-left: 0.777rem;
    }
}