@import "../layout/colors.scss";
@import "media.scss";

.contacts {
  font-style: normal;
  font-size: 1.111rem;
  color: #010101;
  // margin-left: 2.777rem;
  // margin-top: 1.111rem;

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0.555rem;    
  }
}

.contacts__place {
  width: 15.555rem;
  height: 1.111rem;
  font-size: 1.1666rem;
  font-weight: 400;
  line-height: 23.82px;
  margin-bottom: 0.555rem;
}