.features {
  width: 25.944rem;
  display: flex;
  justify-content: space-between;
 
}
.features__item {
  display: flex;
  flex-grow: 1;
  margin-right: 1.222rem;
  &:last-child {
    margin-right: 0;
  }
}
.svg__icon {
  width: 50px;
  height: 57px;
}