.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }
  
  &.fancybox-content {
    padding: 0 !important;
  }

  .fancybox-button {
    display: none;
  }
}

.modal__container {
  background: #fff;
  padding: 1.944rem 3.333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__content {
  margin-bottom: 0.833rem;
  color: #000;
  font-size: 1.222rem;
}