.video {
  background-color: #f8faf9;
  background-image:url("img/decor/pla.png"), url("img/decor/list.png");
  background-repeat:no-repeat, no-repeat;
  background-position: top 570px left 11%, top 100px right 11%;
  background-size: 80px, 75px;

  &::after {
    position: absolute;
    content: url("img/decor/Ежевика_фото.png");
    top: 287rem;
    right: 5px;
    
   
   @include tablets {
       
       content: url("img/decor/Ежевика_фото2.png");
    top: 416rem;
    
       
  }

  @include phones {
    display: none;
  }
 } 
}
.video-container {
  position: relative;
}

.player {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  width: 100%;
  height: 406px;
  position: relative;

  @include tablets {
    width: 95%;
  }

  @include phones {
    max-height: 295px;
  }
}

.player__wrapper {
  width: 100%;
}

.player__title {
  font-size: 48px;
  font-weight: 700;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  color: black;
  margin-bottom: 30px;
  @include tablets {
    font-size: 30px;
  }
  @include phones {

  }
}

.player__elem {
  height: 100%;
  width: 100%;
}

.player__controls {
  display: flex;
  flex-direction: row;
  background-color: #404040;
  align-items: center;
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0px;
 

  @include phones {
    justify-content: space-between;
   
  }
}

.player__playback {
  width: 142%;
  position: relative;
  margin-right: 15px;
  display: flex;
  align-items: center;

  @include phones {
    width: 35%;
  }
}

.player__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.play {
  width: 16px;
  height: 22px;
  outline: none;
  margin-left: 20px;
}

.play-pic {
  position: absolute;
  left: 50%;
  margin-top: 238px;
  height: 70px;
  width: 50px;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @include tablets {
    margin-top: 180px;
  }
  @include phones {
    margin-top: 92px;
  }
}


.play-pic--active {
  opacity: 0;
}

.playback-mark {
  cursor: pointer;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #626262;
  border-right-width: 0;
  background: transparent;
  outline: none;
  transition: all 0.1s ease-out;

    &.active {
      border: 7px solid #555555;
      height: 20px;
      border-top: 0;
      border-bottom: 0;
      padding: 1px;
    }
}

.player__duration {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: #626262;
  outline: none;
  -webkit-appearance: none;
  margin-left: 30px;
}

.player__duration::-webkit-slider-thumb {
  appearance: none;
  background: #626262;
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.player__start:hover {
  cursor: pointer;
}

.player__volume {
  display: flex;
  // flex-direction: row;
  align-items: center;
  // width: 20%;
  margin: 0 20px;

  @include phones {
    width: 33%;
  }
}

.volume__pic {
  width: 17%;
  height: 20px;
  border: none;
  margin-right: -20px;
  cursor: pointer;
}