@import "../layout/colors.scss";
@import "media.scss";

.section {
    height: 100%;
    min-height: 36.111rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    @include tablets {
        min-height: 59.111rem;
    }
    @include phones {
        min-height: 49.111rem;
    }

    &--font-color--green {
        color: $darkGreen;
    
        .section__title {
            color: inherit;
        }
    }
}
.section__title {
    font-size: 2.666rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
    color: #000000;
    margin-bottom: 2.111rem;

    @include phones {
      font-size: 2.222rem;
    }
}
.section__reviews {
    background: url("/img/decor/Ягода.png") top 1.777rem right 12.166rem  no-repeat;

    @include tablets {
        background: none;
        background: url("/img/decor/Ягода.png") top 0rem right -1.777rem no-repeat;
    }
    @include phones {
        background: url("/img/decor/Ягода.png") top 0rem right -1.777rem / 30% no-repeat;
        
    }
    &::before {
        position: absolute;
        content: url("/img/decor/Узор.png");
        top: 245rem;
       

       @include tablets {
        top: 350rem;
      }

      @include phones {
       top: 557rem;
      }
    }
    &::after {
        position: absolute;
        content: url("/img/decor/Ягоды.png");
        top: 249rem;
        

       @include tablets {
        top: 358rem;
      }

      @include phones {
       top: 560rem;
      }
    }
}
.section__bar {
    min-height:  36.111rem;
    background-color:#f8faf9;
    background-image: url("/img/decor/Ягода-черн.png"), url("/img/decor/Узор_на_фоне.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 11%;
    
    @include tablets {
        min-height:  48.111rem;
        background-image: url("/img/decor/Ягода-черн.png"), url("/img/decor/Узор_на_фоне.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 17%;
    }
    @include tablets {
        background-size: 30%;
    }
    
}

.order-section {
    background-image:url("/img/decor/лист90.png"), url("/img/decor/ягода90.png"), url("/img/decor/паттерн.png");
    background-repeat:no-repeat, no-repeat, repeat;
    background-position: top 500px right 50px, top 600px left 50px, top;
    background-size: 100px, 50px, 1520px;
   
    
    
    @include tablets {
        min-height: 64.55rem;
        background: url("/img/decor/паттерн.png") center navajowhite;
   }

   
}
.section__title-form {
    font-size: 2.722rem;
    font-weight: bold;
    margin-top: 1.777rem;
    margin-bottom: 2.222rem;
    text-align: center;
    color: $darkGreen;

    @include tablets {
        margin-top: 0.777rem;
        margin-bottom: 1.222rem;
   }
    @include phones {
       font-size: 40px;
   }
}