@charset "UTF-8";
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 64px; }
  .form::after {
    position: absolute;
    content: url("/chocco/img/decor/ягода90.png");
    left: 227px;
    top: 98%; }

.form__col {
  /* display: flex; */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  margin-bottom: 18px; }

.form__block {
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .form__block:last-child {
    margin-right: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .form__line:last-child {
    margin-top: 5px;
    margin-bottom: 0px; }

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent; }
  .form__input--textarea {
    height: 180px;
    resize: none; }
  .form__input:focus {
    border-color: #dee2bd;
    outline: none; }

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent; }

.form__controls {
  margin-bottom: 0; }
  .form__controls:last-child {
    margin-bottom: 50px; }
