.section {
    height: 100vp;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color--green {
        color: $darkGreen;
    
        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
    
}
.section__reviews {
    background: url("/chocco/img/decor/Ягода.png") top 32px right 225px  no-repeat;
    margin-bottom: 37px;

    &::before {
        position: absolute;
        content: url("/chocco/img/decor/Узор.png");
        left: 210px;
       top: 68%;
    } 
    &::after {
        position: absolute;
        content: url("/chocco/img/decor/Ягоды.png");
        left: 210px;
        top: 70%;
    }
}
.order-section {
    background: url("/chocco/img/decor/паттерн.png") center no-repeat;
    &::before {
        position: absolute;
        content: url("/chocco/img/decor/Ежевика_фото.png");
        left: 1105px;
       top: 70%;
    } 
    &::after {
        position: absolute;
        content: url("/chocco/img/decor/лист90.png");
        left: 1167px;
        top: 90%;
    }
    min-height: 630px;
}
.section__title-form {
    font-size: 49px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 40px;
    text-align: center;
    color: $darkGreen;
}