.assort {
  background: url(/img/decor/ora.jpg), #000;
  background-size: cover;
  position: relative;
}
.assort__menu {
  font-size: 5.666rem;
  font-weight: bold;
  color:#fff;
  margin-left: 164px;
  margin-bottom: 211px;
}
.assort__list {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
}

.assort__item{
  height: 100%;
  display: flex;
}
.assort__trigger {
 display: flex;
 width: 100px;
 background-position: left bottom;
 background-size: cover;
 text-decoration: none;
 justify-content: center;
 align-items: flex-end;
 padding-bottom: 60px;

}
.assort__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100%;

}
.assort__content {
  min-width: 630px;
  padding: 50px 127px 50px 27px;
  overflow-y: auto;
  background-color: rgba(51, 53, 55, .93);
  font-size: 17px;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  line-height: 23.97px;
  height: 100%;
}
.assort__text{
  color: #fff;
}
.assort__close {
  position: absolute;
  right: 34px;
  top: 26px;
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  outline: none;
}
.assort__wrap {
  width: 0;
  overflow: hidden;
  transition: .7s;
}
.assort-active .assort__wrap {
width: 630px;
}
.assort__container {
  &::before {
    position: relative;
    content: url("/img/decor/zoo.jpg");
    right: 238px;
    top: -518px;
  }
}