.bar {
  display: flex;
 
  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: auto;
   }
}
.bar__container {
  position: relative;
}
.bar__image {
  background: url("/img/decor/батон.png") left 30% center no-repeat ;
  background-size: contain;

  @include tablets {
    height: 19rem;
    margin-left: 6.277rem;
  }
&::before {
  position: absolute;
  content: url("/img/decor/Узор_на_фоне.png");
 right: -52%;
 top: 36%;
 @include tablets {
  top: 45%;
  right: -6%;
}
 @include phones {
  top: -14%;
  right: -14%;
}
}
&::after {
  position: absolute;
  content: url("/img/decor/Ягода-черн.png");
  right: -52%;
  top: 41%;
  @include tablets {
    top: 48%;
    right: -10%;
  }
  @include phones {
    top: 16%;
    right: -16%;
  }
}
  width: 39.111rem;
  height: 27.444rem;
}
.bar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.227rem;

  @include tablets {
  margin-right: 0;
  margin-top: 1rem;
  text-align: center;
  }
  @include phones {
  margin-top: 2.111rem;
  }
}
.bar__title {
  font-size: 1.98rem;
  font-weight: bold;
  margin-bottom: 0.944rem;
  color: black;
  line-height: 1.1;

  @include tablets {
    font-size: 1.555rem;
  }
}
.bar__item {
  display: flex;
  @include tablets {
    margin-left: 24%;
  }
  @include phones {
    margin-left: 16%;
    margin-top: 2.277rem;
  }
}
.bar__item-info {
  margin-right: 3rem;
}
.bar__item-description {
  font-size: 2.9rem;
  font-family: inherit;
  margin-bottom: 0.944rem;
  color: black;
}
.bar__item-subtitle {
margin-bottom: 0.277rem;
}
.section-bar__arrow-back {
  left: 0;
  // @include tablets {
  //  margin-left: 6.666rem;
  // }
  // @include phones {
  //  margin-left: 2.777rem;
  // }
  // @include smallPhones {
  //  margin-left: 0.555rem;
  // }
}
.section-bar__arrow-forward {
  right: 0;
  margin-left: 93%;
  // @include tablets {
  //   margin-right: 1.055rem;
  // }
  // @include phones {
  //   margin-right: 0;
  // }
}
.section-bar__arrow {
  position: sticky;
  text-decoration: none;
  outline: none;
  // top: 35%;
  // transform: translateY(-42%);
  @include tablets {
    // padding: 0rem;
    // margin-top: 8.333rem;
    top: 35%;
  }
  @include phones {
    margin-top: 6.888rem;
  }
}
.bar__content {
  width: 19.666rem;
  @include tablets {
    width: auto;
    padding: 0 5.333rem;
   }
  @include phones {
    width: auto;
    padding: 0 1.7rem;
   }
}
.bar__composition {
  margin-bottom: 2.222rem;
  position: relative;
  width: 5rem;
  
//   &:hover {
//     background-image: url("/img/decor/Состав-hover.png");
//     }
  @include tablets {
    display: none;
}
}
.bar__composition:hover .bar__composition-menu {
  left: 3.166rem;
}
.bar__composition-bar_pic {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: url("/img/decor/Состав.png") no-repeat;

  &:hover {
    position: relative;
    background: url("/img/decor/Состав-hover.png") no-repeat;
}
}
.bar__composition-menu {
  position: absolute;
  background: #fff;
  border-radius: 4px;
  padding: 1.444rem 0.333rem;
  font-size: 16px;
  opacity: 0.98;
  margin-left: 1.944rem;
  left: -9999px;
  transition: opacity 1s;
  top: 0;
  width: 14.944rem;
  height: 18.222rem;
}
.bar__composition-elem {
  color: #1e1f20;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
.bar__composition-menu::before {
  content: "";
  display: block;
  height: 1.666rem;
  left: 0;
  right: 0;
  top: -1.611rem;
  position: absolute;
}
.bar__composition-image {
  width: 2.055rem;
  height: 2.666rem;
}
.bar__composition-list {
  display: flex;
  flex-direction: column;
}
