.bar {
  display: flex;
 
  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: auto;
   }
}
.bar__image {
  background: url("/img/decor/батон.png") left 30% center no-repeat ;
  background-size: contain;

  @include tablets {
    height: 19rem;
    margin-left: 6.277rem;
  }
&::before {
  position: absolute;
  content: url("/img/decor/Узор_на_фоне.png");
 right: 0;
 top: 44%;
 @include tablets {
  top: 45%;
  right: -6%;
}
 @include phones {
  top: 47%;
  right: -14%;
}
}
&::after {
  position: absolute;
  content: url("/img/decor/Ягода-черн.png");
  right: 0;
  top: 49%;
  @include tablets {
    top: 48%;
    right: -10%;
  }
  @include phones {
    top: 51%;
    right: -16%;
  }
}
  width: 39.111rem;
  height: 27.444rem;
}
.bar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.227rem;

  @include tablets {
  margin-right: 0;
  margin-top: 1rem;
  text-align: center;
  }
  @include phones {
  margin-top: 2.111rem;
  }
}
.bar__title {
  font-size: 1.98rem;
  font-weight: bold;
  margin-bottom: 0.944rem;
  color: black;
  line-height: 1.1;

  @include tablets {
    font-size: 1.555rem;
  }
}
.bar__item {
  display: flex;
  @include tablets {
    margin-left: 24%;
  }
  @include phones {
    margin-left: 16%;
    margin-top: 2.277rem;
  }
}
.bar__item-info {
  margin-right: 3rem;
}
.bar__item-description {
  font-size: 2.9rem;
  font-family: inherit;
  margin-bottom: 0.944rem;
  color: black;
}
.bar__item-subtitle {
margin-bottom: 0.277rem;
}
.section-bar__arrow-back {
  margin-top: 11.944rem;
  @include tablets {
   margin-left: 6.666rem;
  }
  @include phones {
   margin-left: 2.777rem;
  }
  @include smallPhones {
   margin-left: 0.555rem;
  }
}
.section-bar__arrow-forward {
  right: 13%;
  margin-top: 11.944rem;
  margin-right: 3.611rem;
  @include tablets {
    margin-right: 1.055rem;
  }
  @include phones {
    margin-right: 0;
  }
}
.section-bar__arrow {
  position: absolute;
  text-decoration: none;
  outline: none;
  @include tablets {
    padding: 0rem;
    margin-top: 8.333rem;
  }
  @include phones {
    margin-top: 6.888rem;
  }
}
.bar__content {
  width: 19.666rem;
  @include tablets {
    width: auto;
    padding: 0 5.333rem;
   }
  @include phones {
    width: auto;
    padding: 0 1.7rem;
   }
}
.bar__composition {
  margin-bottom: 2.222rem;
  @include tablets {
    display: none;
}
}