@import "media.scss";

.benefits {
    display: flex;
    @include phones {
        flex-direction: column;
        margin-bottom: 127px;
    }
}
.benefit__elem {
padding: 0 1.666rem;
}


.benefits__item {
    flex: 1;
    margin: 0;
    position: relative;

        @include phones {
            padding: 0;
            margin-bottom: 1.055rem;
                    
        }

    @include tablets {
        &::before {
            display: none;
        }
    }

    &::before {
        @media screen and (min-width: 768px) {
            content: url("/img/decor/2.png");
            position: absolute;
            top: 2.777rem;
            right: 0;
            transform: translateX(50%);
            }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
        
        &::before {
            display: none;
        }
    }
}