.command__title {
  font-size: 2.666rem;
  font-weight: bold;
  margin-bottom: 1.944rem;
  color: black;
  text-align: center;
}
.command__container {
  display: flex;
  flex-direction: column;
  min-height: 29.166rem;
}
.command__section {
  min-height: 47.777rem;
}
.command__list {
  display: flex;
  flex-direction: row;
}
.command__profile {
  // padding-right: 1.111rem;
}
.command__profile:last-child {
  padding-right: 0;
}
.command__profile-content {
 margin-top: 1rem; 
 text-align: center;
 @include tablets {
   margin-top: 0.777rem;
 }
}
.command__profile-name {
  font-weight: bold;
  font-size: 21px;
  color: black;
  padding: 0;
  outline: none;
  // padding-left: 1.666rem;
  @include smallPhones {
    font-size: 18px;
  }
  &::before {
    content: '▼';
    color: black;
    font-size: 12px;
    float: right;
    margin-left: 0.277rem;
    margin-top: 0.333rem;
    }
  }
.command__profile-name.active {
    &::before {
      content: '▲';
    }
  }
.active {
  color: #FFCB52;
}
.command__profile-title {
  font-weight: bold;
  text-align: center;
  color: black;
}
.command__profile-text {
  text-align: center;
  font-size: 17px;
  @include smallPhones {
    font-size: 13px;
  }
}
.command__profile-panel {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.command__profile-block {
  height: 3.611rem;

  @include tablets {
    height: 22.222rem;
    margin-top: 0.833rem;
  }
  @include phones {
    height: 23.888rem;
  }
  @include smallPhones {
    height: 24.888rem;
  }
}
.command__list-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
.command__list-desktop{
  display: none;
}
.command__container {
  max-height: 5.555rem;
}
.command__title {
  font-size: 2.666rem;
  margin-bottom: 1rem;
}
.command__profile-panel {
  margin-left: 1.277rem;
  @include tablets {
  margin-left: 0.833rem;
  }
}
.command__profile {
  margin-bottom: 0;
  flex: initial;
  margin-right: 0;

}
.command__list-mobile {
 display: flex;
}
.command__list {
  padding: 0 30%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include phones {
    padding: 0 25%;
  }
  @include smallPhones {
    padding: 0 15%;
  }
}
.command__profile-title {
  margin-top: 1.5rem;
  font-size: 1rem; 
  @include tablets {
    margin-top: 0.1rem;
  }
}
.command__profile-photo {
  display: initial;
}
}