@import "media.scss";

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
  margin-bottom: 17px;

  @include tablets {
    margin-bottom: 0;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 8.166rem;
    text-align: center;  
   }
}
.footer-container__section {
  min-height: 7.777rem;
  margin-top: 0.666rem;
}
.footer__col {
  display: flex;
  align-items: center;
}