@import "media.scss";

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    height: 8.166rem;
    text-align: center;  
   }
}
.footer__container {
  margin: 0px;  
  max-width: none;
}
.footer-container__section {
  min-height: 7.777rem;
  margin-top: 0.666rem;
}
.footer__col {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
}