@import "./media.scss";

.reviews {
  margin-bottom: 1.444rem;
}
.reviews__avatar {
  width: 14.111rem;
  height: 14.444rem;
  flex-shrink: 0;

  @include tablets {
    width: 7.222rem;
    height: 7.333rem;
  }
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
  margin-left: 1rem;

  @include tablets {
    margin-top: 1.555rem;
    margin-left: 0;
  }
}
.reviews__title {
  font-size: 1.666rem;
  font-weight: bold;
  margin-bottom: 0.944rem;
  color: black;

  @include tablets {
    font-size: 30px;
  }
}
.reviews__text {
  margin-bottom: 1.499rem;
  line-height: 1.2;

  @include tablets {
  margin-bottom: 0rem;
  }
}
.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;

  @include tablets {
    margin-bottom: 1.111rem;
    font-size: 19px;
  }
}
.reviews__switcher {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  @include tablets {
    padding-top: 0.944rem;
  }
  @include phones {
    padding-top: 0rem;
  }
}
.reviews__container {
  display: flex;
  flex-direction: column;
}
.reviews__item {
  overflow: hidden;
  position: absolute;
  display: flex;
  background: url("/img/decor/Слой_2.png") right top no-repeat #f8faf9;
  padding: 2.777rem 7.5rem 1.666rem 2.777rem;
  opacity: 0;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 2.777rem 2.777rem 1.666rem 2.777rem;
   }

   &::before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.610rem;
  }
}
.reviews__item.item-active {
  position: static;
  opacity: 1;
  pointer-events: unset;
  border-color: $darkGreen;
}
.reviews__list {
  position: relative;
  min-height: 15.555rem;
}
.reviews__switcher-item.item__active {
  border-color: $darkGreen;
}