@import "../layout/colors.scss";
@import "media.scss";

.section {
    height: 100vh;
    min-height: 36.111rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    @include tablets {
        min-height: 59.111rem;
    }
    @include phones {
        min-height: 49.111rem;
    }

    &--font-color--green {
        color: $darkGreen;
    
        .section__title {
            color: inherit;
        }
    }
}
.section__title {
    font-size: 2.666rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
    color: #000000;
    margin-bottom: 2.111rem;

    @include phones {
      font-size: 2.222rem;
    }
}
.section__reviews {
    background: url("/img/decor/Ягода.png") top 1.777rem right 12.166rem  no-repeat;

    @include tablets {
        background: none;
        background: url("/img/decor/Ягода.png") top 0rem right -1.777rem no-repeat;
    }
    @include phones {
        background: url("/img/decor/Ягода.png") top 0rem right -1.777rem / 20% no-repeat;
        // margin-bottom: 8.222rem;
        // margin-top: 11.111rem;
    }
    &::before {
        position: absolute;
        content: url("/img/decor/Узор.png");
       top: 68%;
       display: none;

       @include tablets {
        top:70%;
      }

      @include phones {
        top:63%;
      }
    } 
    &::after {
        position: absolute;
        content: url("/img/decor/Ягоды.png");
        top: 70%;
        display: none;

       @include tablets {
        top:74%;
      }

      @include phones {
        top: 68%;
      }
    }
}   
.section__bar {
    min-height:  36.111rem;
    background-color:#f8faf9;
    background-image: url("/img/decor/Ягода-черн.png"), url("/img/decor/Узор_на_фоне.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 11%;
    
    @include tablets {
        min-height:  48.111rem;
        background-image: url("/img/decor/Ягода-черн.png"), url("/img/decor/Узор_на_фоне.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 17%;
    }
    
}

.order-section {
    background: url("/img/decor/паттерн.png") center center;
    
    @include tablets {
        min-height: 64.55rem;
        background: url("/img/decor/паттерн.png") center navajowhite;
   }
//     @include phones {
//         height: 41.888rem;
//    }

    &::before {
        position: absolute;
        content: url("/img/decor/Ежевика_фото.png");
        right: 0;
       top: 75%;
       
       @include tablets {
           content: none;
           content: url("/img/decor/Ежевика_фото2.png");
           top: 68%;
      }

      @include phones {
        display: none;
      }
    } 
    &::after {
        position: absolute;
        content: url("/img/decor/лист90.png");
        right: 0;
        top: 78%;
    
        @include phones {
            display: none;
        }
        @include tablets {
            display: none;
        }
    
    }
    min-height: 44rem;
}
.section__title-form {
    font-size: 2.722rem;
    font-weight: bold;
    margin-top: 1.777rem;
    margin-bottom: 2.222rem;
    text-align: center;
    color: $darkGreen;

    @include tablets {
        margin-top: 0.777rem;
        margin-bottom: 1.222rem;
   }
    @include phones {
       font-size: 40px;
   }
}