@charset "UTF-8";
.hero {
  background: url("/img/decor/узорs.png") right 0 no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  position: relative;
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .hero {
    background-position: right bottom 88%;
    height: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background: url("/img//decor/узорs3.png") right 7% no-repeat;
    background-color: #61c4d9;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 35.166rem;
    height: 22.666rem;
    position: absolute;
    right: 27%;
    background: url("/img/decor/Картинки.png") center center/contain no-repeat;
    top: 19%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 98%;
    height: 44%;
    position: absolute;
    right: 23%;
    top: 8%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.333rem 0 2.499rem;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .hero__container::before, .hero__container::after {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .hero__container::before {
    position: absolute;
    bottom: 4.944rem;
    left: 27.166rem;
    content: url("/img/decor/Батончики.png");
  }
}
@media screen and (min-width: 769px) {
  .hero__container::after {
    position: absolute;
    bottom: -2.721rem;
    left: -2.777rem;
    content: url("/img/decor/Ягоды_и_листья.png");
    width: 100%;
    z-index: -1;
  }
}
.hero__main-title {
  font-size: 2.666rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    margin-top: 21.333rem;
    letter-spacing: 0.001em;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    margin-top: 18.222rem;
    letter-spacing: -1.9px;
    line-height: 2.833rem;
    font-size: 40px;
  }
}

.hero__title-desc {
  font-size: 1.166rem;
  margin-bottom: 0.611rem;
  padding-right: 21%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    margin-top: 1.277rem;
    padding: 0 25%;
    letter-spacing: 0.001em;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    max-width: 291px;
    padding: 0;
    margin-bottom: 0.777rem;
  }
}