.map__section {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .map__section {
      min-height: 0; } }
  @media screen and (max-width: 480px) {
    .map__section {
      margin-left: 0; } }

.map__img-photo {
  width: 100%;
  height: 100%; }

.map__img {
  height: 100%; }
