.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.888rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: rem(10px);
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("data:image/svg+xml;utf8,<svg fill='%23365a49' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.9 8.7' ><path class='st0' d='M10.3,0.6L10.3,0.6C9.6-0.2,8.4-0.2,7.7,0.5L4,4.2L3.2,3.4c-0.7-0.7-1.9-0.7-2.6,0L0.5,3.4c-0.7,0.7-0.7,1.9,0,2.6l2.2,2.2C3.1,8.6,3.6,8.7,4,8.7c0.5,0,0.9-0.2,1.3-0.5l5-5C11,2.5,11,1.3,10.3,0.6z'/></svg>") no-repeat;
  top: 5%;
  left: 55%;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.444rem;
  height: 1.444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 0.555rem;
  margin-bottom: 0.555rem;
}
.radio__visible::before {
  content: "";
  width: 0.721rem;
  height: 0.721rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}