@import "./variables.scss";

body {
  font-size: $baseFontSize;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
  color: #666666;
 }
 a {
   color: inherit;
 }
 ul {
   padding: 0;
   margin: 0;
 }
 ul li {
   list-style: none;
 }
 p {
   margin-top: 0;
 }
 h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
 }
 * {
   box-sizing: border-box;
 }
  body, html {
    height: 100%;
  }
  html {
    font-size: 16px;
  }
  img {
    display: block;
    max-width: 100%;
  }
  table {
    border-collapse: collapse;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  footer {
    position: relative;
    width: 100%;
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 0px;
  }
  .container {
    width: auto;
    max-width: 942px;
    margin: 0 auto;

  }